* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
}

.all {
    margin-bottom: 100px;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-style: italic;
}

#input1 {
    border: none;
    appearance: none;
    background: #f2f2f2;
    padding: 12px;
    border-radius: 3px;
    width: 250px;
    outline: none;
    text-align: center;
}

#input2 {
    border: none;
    appearance: none;
    background: #f2f2f2;
    padding: 12px;
    border-radius: 3px;
    width: 250px;
    outline: none;
    text-align: center;
}

.confirm-button {
    width: 300px;
    height: 80px;
    border: none;
    margin-top: 20px;
    margin-left: 130px;
    color: white;
    background-color: rgb(255, 0, 68);
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #000000;
    transition: ease-out 0.8s;
    font-size: 2rem;
    outline: none;
}

.confirm-button:hover {
    box-shadow:  inset 300px 0 0 0 #000000;
    cursor: pointer;
    color: rgb(255, 230, 0);
}

input:focus::placeholder {
    color: transparent;
}

input::placeholder {
    color: #222;
    transition: color 0.5s ease;

}

#res {
    border: none;
    appearance: none;
    background: #f2f2f2;
    padding: 12px;
    border-radius: 3px;
    width: 350px;
    outline: none;
    text-align: center;
    margin-left: 90px;
}